<% content_for:title do %>About<%end%>

<h3>About Akash</h3>

<p> He gets by and is currently typing this to see how a big paragraph would look on his about page. For all he knows, he is writing nonsense and still sees that there is a lot more to go before the site has anything of an about box which shows enough data </p>
<p> Now to start another paragraph</p>
<p>Now moving on to blabbering a bit more starting the second paragraph -- wait, actually this is the third paragraph</p>
