<%= content_for :title do %>Test Contacts Page <% end %>

<h3>Contact <%= @contact.name %> was Successfully created</h3>
<p> The contact's email id is <%= @contact.email %> </p>
<p>The contact said <%= @contact.content %> </p>
